# Song Play Analysis

In [1]:
%load_ext sql

In [4]:
import configparser
import os

config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DB_HOST=config.get("CLUSTER","HOST")
DB_NAME=config.get("CLUSTER", "DB_NAME")
DB_USER= config.get("CLUSTER","DB_USER")
DB_PASSWORD=config.get("CLUSTER","DB_PASSWORD")
DB_PORT = config.get("CLUSTER","DB_PORT")

conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, DB_HOST, DB_PORT, DB_NAME)

In [3]:
%sql $conn_string

'Connected: dwhuser@dwh'

## Counts of Songs Played by Weekday, Hour, and Gender

In [11]:
%%sql
SELECT t.weekday, t.hour, u.gender, COUNT(*)
FROM songplays s
    JOIN users u
        ON s.user_id = u.user_id
    JOIN time t
        ON s.start_time = t.start_time
GROUP BY t.weekday, t.hour, u.gender
ORDER BY t.weekday, t.hour, u.gender
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cqzrcrhohna6.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(0, 6, 'F', 1),
 (0, 6, 'M', 2),
 (0, 7, 'M', 1),
 (0, 9, 'F', 2),
 (0, 15, 'F', 1),
 (0, 15, 'M', 1),
 (0, 16, 'F', 2),
 (0, 17, 'F', 1),
 (0, 18, 'M', 1),
 (0, 19, 'F', 1)]